<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="LotteryMissMapper">
	<resultMap type="MissGroupModel" id="MissGroupModelMap">
		<id property="id" column="id" />
		<result property="digit" column="digit" />
		<result property="group" column="group" />
	</resultMap>
	
	<!-- 批量插入 -->
	<insert id="insertBatchMissGroup" parameterType="list">
		 insert into tbl_lottery_miss_group(`digit`,`group`) values
		 <foreach collection="list" item="item" index="index" separator=",">
		 	(#{item.digit},#{item.group})
		 </foreach>
	</insert>
	
		<!-- 批量插入 -->
	<insert id="insertBatchMissResult" parameterType="list">
		 insert into tbl_lottery_miss_result(`id`,`begin`,`end`,`miss_periods`,`type`,`digit`) values
		 <foreach collection="list" item="item" index="index" separator=",">
		 	(#{item.id},#{item.begin},#{item.end},#{item.missPeriods},#{item.type},#{item.digit})
		 </foreach>
	</insert>
	
		<!-- 批量插入 -->
	<insert id="insertBatchMissRelation" parameterType="list">
		 insert into tbl_lottery_miss_relation(`group_id`,`result_id`) values
		 <foreach collection="list" item="item" index="index" separator=",">
		 	(#{item.groupId},#{item.resultId})
		 </foreach>
	</insert>
	
	<delete id="deleteMissGroup">
		TRUNCATE tbl_lottery_miss_group;
	</delete>
	
	<delete id="deleteMissResult">
		TRUNCATE tbl_lottery_miss_relation;
		TRUNCATE tbl_lottery_miss_result;
	</delete>
	
	<select id="queryMissGroup" resultMap="MissGroupModelMap" parameterType="map">
		select * from tbl_lottery_miss_group
		where 1 = 1
		<if test="digit != null">
			and digit = #{digit}
		</if>
	</select>
<!-- 	
	<select id="queryCombination" resultMap="LotteryCombinationMap" parameterType="map">
		select * from tbl_lottery_combination
		<if test="offset != null and rows !=null">
			limit #{offset},#{rows}
		</if>
	</select>
	
	<select id="queryCombinationCount" resultType="long">
		select count(1) from tbl_lottery_combination
	</select>
	
	<update id="updateStatus" parameterType="lotteryCombination">
		update tbl_lottery_combination set `status` = #{status} where `left`=#{left};		
	</update>
	
 -->
</mapper>